
.btn {
  padding: .55rem 1.5rem .45rem;
}









  
  
background-color: darkgreen;
  
}

body{


}
img{
  width: 56%;
  height: 56%;
}
body{
  background-image:url(https://devforum-uploads.s3.dualstack.us-east-2.amazonaws.com/uploads/optimized/4X/8/8/5/885fd438e7bcdb9bde0c942825c264b37642d1f8_2_690x384.jpeg) 
  
}

}


h1{
  color: white
}
li{
  color: white
}
  

  

  







