
.btn {
  padding: .55rem 1.5rem .45rem;
}








  
  
  


img{
  width: 56%;
  height: 56%;
}
body{
   background-repeat: no-repeat;
  background-size: 100%;

  background-image:url(https://devforum-uploads.s3.dualstack.us-east-2.amazonaws.com/uploads/optimized/4X/6/b/f/6bfa07d53be8f3e7bf41c7f9f791190ca741ad68_2_656x500.jpeg) 
  
}



h1{
  color: white
}
li{
  color: white
}
  

  

  







